.heading{
    text-align: center;
}
.heading h1{
    margin: 5px 0 0 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 50px;
    font-weight:bolder;
    cursor: pointer;
    margin: auto;
}
.container-fluid{
    position: relative;
    top: 60px;
    margin:0 auto ;
}
