
<p>
    <mat-toolbar class="navbar" >
      <button  matTooltip="Home page" routerLink="/home/home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>home</mat-icon>
      </button>

      <button  matTooltip="relax" routerLink="/relax/all"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>accessible</mat-icon>
      </button>
      <button  matTooltip="meditation" routerLink="/meditation/all"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>accessibility</mat-icon>
      </button>
      <span class="text">Breathly</span>
      <span class="example-spacer"></span>
      <button  matTooltip="notification" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon  matBadge="5" matBadgeColor="warn">circle_notifications</mat-icon>
      </button>
      <button  matTooltip="your profile" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <!-- <div class="navbar1">
    <div class="nav-icon">

    </div>
    <div class="nav-icon">

    </div>
    <div class="nav-icon">

    </div>
    <div class="nav-icon">

    </div>
    <div class="nav-icon">

    </div>
  </div> -->
 

 