<div class="body">
    <div class="message">

        <h1>Good {{msg}} Tejas</h1>
        <div class="datetime">
            <b class="date">{{date | date:'mediumDate'}}</b>
            <b class="time">{{date | date:'shortTime'}}</b>
        </div>

        <div class="image">
            <img src="./../../../assets/images/breath.gif" alt="">
        </div>

        <!-- <div class="heading-text">
            <h1 style="color: black;">The everyday app for feeling better </h1>
        </div> -->

        <div class="main">
            <div *ngFor="let item of brethData">
                <div class="cards">
                    <a routerLink="/home/meditation/{{item.id}}"><img [src]="item.image" height="300px" width="300px" alt=""></a>
                    <h5>{{item.title}}</h5>
                    <!-- <h6>{{item.description}}</h6> -->
                    <div>
                        <button routerLink="/home/meditation/{{item.id}}"class="button" >More details</button>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>



